<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INIWS_Validation">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INIWS_Partner">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.netcash.co.za/NIWS/NIWS_Validation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INIWS_Validation"
                contract="NetCashValidationService.INIWS_Validation" name="BasicHttpBinding_INIWS_Validation" />
            <endpoint address="https://ws.netcash.co.za/NIWS/NIWS_Partner.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INIWS_Partner"
                contract="NetCash.INIWS_Partner" name="WSHttpBinding_INIWS_Partner" />
        </client>
    </system.serviceModel>
</configuration>